:root{
    --nav-footer : #d2d1cd;
}

/*
nav_footer: #d2d1cd;
text-color: #333333;
background-header-depoimentos-clientes: #8c8a89;
background-icons-engajamento-contatos: #d2d1cd;
background-color-buttons: #333333;
background-color-icons: #8c8a89;
color-icons: #333333;
*/

*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;   
}

a{
    text-decoration: none;
    color: #333;
    font-weight: bolder;
    margin: 0 5px;
}

a:hover{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.icon{
    height: 25px;
    width: 25px;
}

body{
    background-color: white;
}

nav{
    height: 60px;
    background-color: var(--nav-footer);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo{
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.logo a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bolder;
}

.logo a:hover{
    background-color: white;
    border-radius: 5px;
    color: #333;
    width: 100%;
}
nav .logo img{
    margin-left: 10px;
}
nav .links{
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

nav .redes-sociais{
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociais a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociais a:hover{
    background-color: white;
    border-radius: 5px;
}

header{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-principal{
    width: 100%;
    height: 100%;
    background-color: #333;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title-section{
    background-color: orangered;
    color: white;
    width: 100%;
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.title-section h2{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 16px;
}

.content-engajamento{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-engajamento-icon{
    display: flex;
    flex-direction: column;
}

.icon-engajamento{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #333;
    width: 400px;
    height: 200px;
    margin: 10px;
}

.content-engajamento-icon.up{
    margin-top: 30px;

}

.icon-engajamento img{
    height: 75%;
    width: 75%;
}

.dados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-dados{
    width: 200px;
    height: 100px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.card-dados span{
    font-size: 30px;
    font-weight: bolder;
}

.card-dados.right{
    margin-left: 30px;
}

.servicos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

section .card-servicos{
    background-color: #d2d1cd;
    width: 300px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-servicos img{
    height: 150px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.card-servicos h2{
    font-weight: bolder;
    margin: 5px 0;
    color: #333;

}

.card-servicos p{
    margin-top: 10px;
}

.card-servicos a{
    margin-top: 25px;
    background-color: orangered;
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-servicos a:hover{
    background-color: orange;
}

.container-depoimentos{
    background-color: #d2d1cd;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-depoimento{
    border: 3px solid orangered;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    margin: 10px

}

.card-depoimento img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-top: 5px;
}

.card-depoimento p{
    display: flex;
    flex-direction: row;
    text-align: justify;
    padding: 10px;
    margin: 5px;
}

.card-depoimento span{
    width: 100%;
    padding: 10px;
    text-align: right;
    font-weight: bolder;
}

.down{
    margin-top: 50px;
}


.container-equipe{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-equipe{
    width: 300px;
    height: 350px;
    border-radius: 10px;
    background-color: #d2d1cd;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

 .card-equipe img{

}
.card-equipe h2{
}

.card-equipe h3{
}

.card-equipe-redes-sociais{

}

.card-equipe-redes-sociais a{

}

.card-equipe-redes-sociais img{
    
}