.title-section-container{
    height: 60px;
    width: inherit;
    background: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-section-container h2{
    color: #fff;
    height: inherit;
    font-style: oblique;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}